<p>Hello <%= @user.name %>!</p>

<p> Following is the OTP for login : <%= @user.otp %> </p>

<p> Please make sure this mail contains confidential information, do not forward or share with anyone. </p>
<p> Thank You! </p>
